.menu-switch {
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));

  &:hover {
    background-color: rgb(15 23 42 / 0.5) !important;
  }

  &.ant-switch-checked {
    background-color: rgb(15 23 42 / var(--tw-bg-opacity)) !important;
  }
}
